:root{
    --base-font-size:15px;
    --hero-header-font-size:3rem;
    --primary-header-font-size: 2.5rem;
    --secondary-header-font-size:1.5rem;
    /* navbar */
    --icon-spacing-right:14px;
    --icon-spacing-top:5px
}