@import "../global/Imports.css";
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 64px;
    font-family: var(--font-family);
    position: fixed;
    border-bottom: 1px solid #f7f7f7;
    background-color: #fff;
    z-index: 1;
}

.navbar__full-menu{
    max-width:1080px !important;
    height:100%;
    position: relative;
}

.navbar__nav-menu-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height:100%;    align-items: center;
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
}

.primary-menu {
    display: flex;
    align-items: center;
    height:100%;
}

.primary-menu .primary-menu__logo{
    height:40px;
    height:100%;
    display: flex;
    align-items: center;
    margin-right:35px;
}

.primary-menu .primary-menu__logo img{
    height:35px;
    width:auto;
}

.primary-menu__list-wrapper{
    height:100%;
    display: flex;
    align-items: center;
}

.primary-menu__list{
    display: flex;
    align-items: center;
    height: 100%;
}

.primary-menu__list li{
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
}

.primary-menu__list li:not(:first-child){
    margin-left: 35px;
}

.primary-menu__list li button{
    height:100%;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    display: flex;
    align-items: center;
}

.primary-menu__list li button svg{
    height: 20px;
    margin-left: 3px;
}

.primary-menu__list li button:hover,
.primary-menu__list li button[data-dropState="block"]{
    border-bottom:2px solid var(--primary-color);
}

.primary-menu__list li button:hover svg,
.primary-menu__list li button[data-dropState="block"] svg{
    transform: rotate(180deg);
    transition: transform ease 0.25s;
}

.secondary-menu,
.secondary-menu ul{
    height:100%;
    display:flex;
    align-items: center;
}

.secondary-menu ul li{
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
}

.secondary-menu ul.unauthed li:not(:first-child) button{
    background-color: var(--primary-color);
    padding:5px 15px;
    border-radius: 25px;
    color:#ffffff;
}

.secondary-menu ul li:not(:first-child){
    margin-left: 35px;
}

.secondary-menu button svg{
    width:24px;
}

.secondary-menu ul.authed button .authed__wrapper{
    padding: 2px;
    border-radius: 50%;
}

.secondary-menu ul.authed button .authed__wrapper:hover{
    background-color: var(--site-nav-drop-hover-color);
}

.secondary-menu img{
    width:24px;
    height:24px;
    object-fit: cover;
    border-radius:50%;
}

.dropdown{
    position:absolute;
    top:64px;
    left:0;
    width:100%;
    background-color: var( --site-nav-drop-wrapper-background-color);
    height:calc(100vh - 64px);
}

.dropdown__wrapper{
    background-color: #fff;
    border-bottom:1px solid #f7f7f7;
}

.dropdown__wrapper--row{
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.divider{
    width: 1px;
    border-right:1px solid #f7f7f7;
}

.dropdown__section{
    padding: 15px 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-right: 1px solid #f7f7f7;
    padding: 0 5px;
}

.dropdown__section .dropdown__section-header{
    display: flex;
    justify-content: flex-start;
    text-transform: uppercase;
    font-size: 1rem;
    border-bottom: 1px solid #f5f5f5;
    padding: 10px 0px;
}

.dropdown__links{
    display: flex;
    flex-wrap:wrap;
    padding: 10px 0;
}

.dropdown__links svg{
    width:24px;
    margin-right:var(--icon-spacing-right);
    margin-top:var(--icon-spacing-top);
}

.dropdown__links a{
    flex:1 0 200px;
    max-inline-size: 200px;
    margin-right: 15px ;
    padding:10px 15px ;
    border-radius: 15px;
}

.dropdown__links a:hover{
    background-color: var(--site-nav-drop-hover-color);
}

.dropdown__link-item{
    display:flex;
    align-items: start;
    flex-wrap: nowrap;
    inline-size: 100%;
    block-size: 100%;
}

.dropdown__link-item--text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    inline-size: 100%;
}

.dropdown__link-item--text .head{
    font-size:1rem;
    margin-top:0;
}

.dropdown__link-item--text .body{
    font-size: 0.7rem;
    text-align: start;
    color:var(--secondary-text-color);
}

@media screen and (max-width:1240px){
    .primary-menu__list-wrapper {
        display: none;
    }
}

@media screen and (max-width:600px){
    .primary-menu .primary-menu__logo img{
        height:30px;
        width:auto;
    }
    .secondary-menu .unauthed :not(:last-child){
        display: none !important;
    }
}