.formContainer{
    padding:0px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    height:100vh;
    margin:0 !important;
}

.formContainerGrid{
    height:100vh !important;
    width: 100vw !important;
}

.formContainer .authWrapper{
    height:calc(100% - 88px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 350px;
    margin-right: auto;
    margin-left: auto;
}

.authWrapper .authHead{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.authWrapper .authHead h2{
    font-size: 1.6rem;
    line-height: 1.6rem;
    font-weight: 600;
    text-align: start;
    margin:0;
    margin-bottom: 10px;
}

.authWrapper .authHead p{
    font-size: 12px;
    margin: 0;
}

.formContainer .authCarousel{
    max-width: 500px !important;
}

.formContainer form{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.formContainer form input{
    height:45px;
    width: 100%;
    border:none;
    border-radius:3px;
    border:1px solid #ddd;
    padding: 0 10px;
    box-sizing: border-box;
    margin:5px 0px;
}

.formContainer form input::placeholder{
    font-size:0.8rem;
}

.formContainer form .fullNames{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.formContainer form .fullNames .fields {
    width:100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.formContainer form button{
    height:45px;
    border-radius: 5px;
    background-color: #cc0000;
    border:none;
    color:#fff;
    margin-top: 15px;
    cursor: pointer;
}

.formContainer form input.fieldError{
    border:1px solid #f10000;
}

.formContainer .formErrors{
    color:#f10000;
    font-size: 11px;
    text-align: start;
}

.formContainer .formErrors.AuthError{
    margin:10px 0;
    border: 1px solid #f10000;
    background: rgb(204 0 0 / 20%);
    padding: 20px 10px;
    border-radius: 3px;
}

.formContainer .formFooter{
    display: flex;
    justify-content: flex-start;
}

.formContainer .formFooter span{
    font-size: 0.8rem;
}

.slideView{
    height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image:url("https://images.unsplash.com/photo-1627637819820-ea5ff90165db?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032&q=80");
    background-repeat: no-repeat;
    background-size: cover;
}

.slideBody{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slideBody .text {
    padding:15px;
    color:#fff;
}

.slideBody img {
    width:250px;
    height:250px;
    object-fit: cover;
}

.slideBody .text  h6{
    font-size: 20px;
    margin:0;
}

.slideBody .text  p{
    margin:0;
    font-size:13px;
}
