.formContainer{
    padding:15px;
    display: flex;
    align-items: center;
    justify-content: center;
    height:100vh;
    margin:0;
}

.formContainerGrid{
    height:100vh;
}

.formContainer .authWrapper{
    max-width: 350px;
    margin-left:auto;
    margin-right: auto;
}

.authWrapper .authHead{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.authWrapper .authHead .authHeadLogo{
    margin-bottom:20px;
}

.authWrapper .authHead .authHeadLogo img{
    width:100px;
    height:auto;
}

.authWrapper .authHead h2{
    font-size: 25px;
    margin:0;
    margin-bottom: 10px;
}

.authWrapper .authHead p{
    font-size: 12px;
    margin: 0;
}

.formContainer .authCarousel{
    max-width: 500px !important;
}

.formContainer form{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.formContainer form input{
    height:45px;
    width: 100%;
    border:none;
    border-radius:3px;
    background:rgb(43 162 202 / 10%);;
    padding: 0 10px;
    box-sizing: border-box;
    margin:5px 0px;
}

.formContainer form .fullNames{
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.formContainer form .fullNames .fields {
    width:100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.formContainer form button{
    height:45px;
    border-radius: 5px;
    background-color: #cc0000;
    border:none;
    color:#fff;
    margin-top: 15px;
    cursor: pointer;
}

.formContainer form input.fieldError{
    border:1px solid #f10000;
}

.formContainer .formErrors{
    color:#f10000;
    font-size: 11px;
    text-align: start;
}

.formContainer .formErrors.AuthError{
    margin:10px 0;
    border: 1px solid #f10000;
    background: rgb(204 0 0 / 20%);
    padding: 20px 10px;
    border-radius: 3px;
}

.formContainer .formFooter{
    margin:15px 0 ;
}

.formContainer .formFooter p{
    font-size:12px;
    margin:0;
    text-align: center;
}

.slideView{
    border-radius:15px;
    height:calc(100vh - 65px);
    background: #cc0000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.slideBody{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slideBody .text {
    padding:15px;
    color:#fff;
}

.slideBody img {
    width:250px;
    height:250px;
    object-fit: cover;
}

.slideBody .text  h6{
    font-size: 20px;
    margin:0;
}

.slideBody .text  p{
    margin:0;
    font-size:13px;
}
