/* *{
    box-sizing: border-box;
} */

.dashtopNav{
    background-color: #ffffff;
    height:55px;
    display: flex !important;
    align-items: center !important;
}

.dashtopNavGridItem{
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 0 !important; */
}
.dashtopNav .searchbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F3F7FA;
    padding: 0.3rem 0.7rem;
    width: auto;
    height:35px;
    border-radius: 3px;
    min-width:250px;
}

.dashtopNav .searchbar input{
    height:1.5rem;
    background:none;
    border:none;
    width: 100%;
    transition: width 0.2s ease-in-out;
    transition-delay: 0s;
}

.dashtopNav .searchbar input ~ .topNavIcon:hover{
    cursor: pointer;
    color:#E63462;
}

.dashtopNav .searchbar input:focus,
.dashtopNav .searchbar input:hover{
    outline: none !important;
    width:300px;
}

.dashtopNav .dashtopNavGridItem .topNavIcon{
    font-size: 24px;
    color:#94A2BC;
}

.accountPrev{
    display: flex;
    align-items: center;
}

.accountPrev .avatar{
    width: 25px;
    height: 25px;
}