.dashCCard{
    border-radius: 10px !important;
    box-shadow: none !important;
}

.dashCCard .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dashCCard .top > span{
    color: #1E1E1E;
    font-size: 15px;
}

.dashCCard .top .left{
    display: flex;
    align-items: center;
    gap: 5px;
}

.dashCCard .top .left .iconWrp{
    background-color:#F3F7FD;
    width:25px;
    height:25px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dashCCard .top .left .iconWrp .icon{
    font-size: 18px;
    color:#8D98A9;
}

.dashCCard .top .left h3{
    font-size: 11px;
    font-weight: 500;
    color: #8C97A8;
}

.dashCCard .dvdr{
    width:100%;
    height:1px;
    background-color: #E8EDF1;
}

.dashCCard .middle{
    display: flex;
    align-items: center;
    height:100px;
}

.dashCCard .middle .left{
    width:50%;
}

.dashCCard .middle .right{
    width:50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.dashCCard .middle .right h5,
.dashCCard .middle .right p{
    font-size: 11px;
    font-weight: 500;
    color: #768396;
    margin: 0;
    display: flex;
    align-items: center;
}

.dashCCard .middle .right h5 span{
    font-size: 11px;
    font-weight: 500;
    color: #299702;
}

.tasksDoneChart .top h3{
    font-size: 15px;
    font-weight: 600;
}

.tasksDoneChart .top .chartDataControls{
    display: flex;
    gap: 5px;
}


.tasksDoneChart .top .chartDataControls button{
    font-size: 15px;
    background: none;
    border:none;
    padding: 10px;
    border-radius: 5px;
}

.tasksDoneChart .top .chartDataControls button:hover{
    background: #f5f5f5;
    cursor: pointer;
    color:#E63462;
}